@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100vw;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product {
  border: 1px solid #000;
  margin-left: -1px;
  margin-bottom: -1px;
}

.product-detail {
  border-top: 1px solid #000;
}

.image-wrapper {
  padding: 8px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.image-wrapper img {
  width: 100%;
  display: block;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.product-detail {
  padding: 15px;
  margin-bottom: 8px;
}

.product-detail h6 {
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.2s ease-in-out 0s;
}

.product-detail h6:last-child {
  margin-bottom: 10px;
}

.product-detail h6:hover {
  color: rgb(22, 219, 101) !important;
}

.product-detail span {
  font-size: 13px;
  font-weight: 300;
}

.image-wrapper img:last-child {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.image-wrapper:hover img:last-child {
  opacity: 1;
}

.image-wrapper:hover img:first-child {
  opacity: 0;
}

.sizes {
  display: none;
}

.product:hover .sizes {
  display: inline;
}

.product:hover .price {
  display: none;
}

@media (max-width: 992px) {
  .products {
    grid-template-columns: 1fr 1fr;
  }
}
